{% extends 'base/base.html' %}

{% block title %}Dashboard - Klinik Google {% endblock %}

{% block content %}
  {% include 'base/navbar.html' %}

  <div class="container-fluid mt-5 pt-5">
    <h2 id="jadwal" class="text-center" style="color: #091e3e">Dashboard</h2>
    <div class="container mt-5 mb-5">
      {% set table_title='Pendaftaran' %}
      {% set table_headers=['No Urut', 'Nama', 'Poli', 'Tanggal Periksa', 'Status'] %}
      {% set table_id='pendaftaranTable' %}
      {% include 'partials/datatable.html' %}
    </div>

    <div class="container mt-5 mb-5">
      {% set table_title='Check Up' %}
      {% set table_headers=['No', 'Tanggal Periksa', 'Nama Pasien', 'Nama Dokter', 'Poli', 'Keluhan', 'Hasil Pemeriksaan'] %}
      {% set table_id='checkupTable' %}
      {% include 'partials/datatable.html' %}
    </div>

    <div class="container mt-5 mb-5">
      {% set table_title='Rekam Medis' %}
      {% set table_headers=['No', 'NIK', 'Nama Pasien', 'Action'] %}
      {% set table_id='rekamMedisTable' %}
      {% include 'partials/datatable.html' %}
    </div>
  </div>

  <!-- lihat Modal -->
  <div
    class="modal fade"
    id="lihatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="lihatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col">
              <h1>Data Rekam Medis Pasien Klinik Google</h1>
            </div>
            <div class="col">
              <div class="row d-flex align-items-center">
                <p >No Kartu: </p>
                <p id="no_kartu"></p>
              </div>
              <div class="row d-flex align-items-center">
                <p >Nama: </p>
                <p id="nama"></p>
              </div>
              <div class="row d-flex align-items-center">
                <p >NIK: </p>
                <p id="nik"></p>
              </div>
            </div>
            <div class="col">
              <div class="row d-flex align-items-center">
                <p>Umur: </p>
                <p id="umur"></p>
              </div>
              <div class="row d-flex align-items-center">
                <p>Alamat: </p>
                <p id="alamat"></p>
              </div>
              <div class="row d-flex align-items-center">
                <p>No telp: </p>
                <p id="no_telp"></p>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {% set table_title='' %}
          {% set table_headers=['No', 'Tgl Periksa', 'Dokter', 'Poli', 'Keluhan', 'Anamnesa Hasil Pemeriksaan'] %}
          {% set table_id='list_checkup_user' %}
          {% include 'partials/datatable.html' %}
        </div>
      </div>
    </div>
  </div>

  {% include 'base/footer.html' %}

{% endblock %}