{% extends 'base/base.html' %} {% block title %}Dashboard - Klinik Google {%
endblock %} {% block content %} {% include 'base/navbar.html' %}

<div class="container-fluid mt-5 pt-5">
  <h2 id="jadwal" class="text-center" style="color: #091e3e">Dashboard</h2>
  <div class="container mt-5 mb-5" id="pendaftaran">
    {% set table_title='Pendaftaran' %} {% set table_headers=['No Urut', 'Nama',
    'Poli', 'Tanggal Periksa', 'Status'] %} {% set table_id='pendaftaranTable'
    %} {% include 'partials/datatable.html' %}
  </div>

  <div class="container mt-5 mb-5" id="checkup">
    {% set table_title='Check Up' %} {% set table_headers=['No', 'Tanggal
    Periksa', 'Nama Pasien', 'Nama Dokter', 'Poli', 'Keluhan', 'Hasil
    Pemeriksaan'] %} {% set table_id='checkupTable' %} {% include
    'partials/datatable.html' %}
  </div>

  <div class="container mt-5 mb-5" id="rekam-medis">
    {% set table_title='Rekam Medis' %} {% set table_headers=['No', 'NIK', 'Nama
    Pasien', 'Action'] %} {% set table_id='rekamMedisTable' %} {% include
    'partials/datatable.html' %}
  </div>
</div>

<!-- The modal for filtering -->
<div
  class="modal fade"
  id="daftarFilterModal"
  tabindex="-1"
  aria-labelledby="daftarFilterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="daftarFilterModalLabel">Filter Data</h5>
        <button
          type="button"
          class="btn w-auto py-0 my-0"
          onclick="clearFilterDaftar()"
        >
          Clear
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-3 d-flex align-items-center">
          <label for="name-daftar" class="col-sm-2">Nama</label>
          <div class="col-sm-10">
            <select id="name-daftar" class="form-select"></select>
          </div>
        </div>

        <div class="row mb-3 d-flex align-items-center">
          <label for="poli-daftar" class="col-sm-2">Poli</label>
          <div class="col-sm-10">
            <select id="poli-daftar" class="form-select"></select>
          </div>
        </div>

        <div class="row mb-3 d-flex align-items-center">
          <label for="tanggal-daftar" class="col-sm-2">Tanggal</label>
          <div class="col-sm-10">
            <select id="tanggal-daftar" class="form-select"></select>
          </div>
        </div>

        <div class="row mb-3 d-flex align-items-center">
          <label for="status-daftar" class="col-sm-2">Status</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="pending"
                  name="status-daftar"
                  value="pending"
                />
                <label class="form-check-label" for="pending">Pending</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="approved"
                  name="status-daftar"
                  value="approved"
                />
                <label class="form-check-label" for="approved">Approved</label>
              </div>
            </div>
            <div class="row">
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="done"
                  name="status-daftar"
                  value="done"
                />
                <label class="form-check-label" for="done">Done</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  type="radio"
                  class="form-check-input"
                  id="rejected"
                  name="status-daftar"
                  value="rejected"
                />
                <label class="form-check-label" for="rejected">Rejected</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn text-light w-auto"
          data-bs-dismiss="modal"
          style="background-color: #091e3e"
        >
          Close
        </button>
        <button
          type="button"
          class="btn text-light w-auto"
          id="applyFilterDaftar"
          style="background-color: #06a3da"
        >
          Apply Filter
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The modal for filtering -->
<div
  class="modal fade"
  id="checkupFilterModal"
  tabindex="-1"
  aria-labelledby="checkupFilterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkupFilterModalLabel">Filter Data</h5>
        <button
          type="button"
          class="btn w-auto py-0 my-0"
          onclick="clearFilterCheckup()"
        >
          Clear
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-3 d-flex align-items-center">
          <label for="name-pasien" class="col-sm-2">Nama Pasien</label>
          <div class="col-sm-10">
            <select id="name-pasien" class="form-select"></select>
          </div>
        </div>
        <div class="row mb-3 d-flex align-items-center">
          <label for="name-dokter" class="col-sm-2">Nama Dokter</label>
          <div class="col-sm-10">
            <select id="name-dokter" class="form-select"></select>
          </div>
        </div>

        <div class="row mb-3 d-flex align-items-center">
          <label for="tanggal-checkup" class="col-sm-2">Tanggal</label>
          <div class="col-sm-10">
            <select id="tanggal-checkup" class="form-select"></select>
          </div>
        </div>

        <div class="row mb-3 d-flex align-items-center">
          <label for="poli-checkup" class="col-sm-2">Poli</label>
          <div class="col-sm-10">
            <select id="poli-checkup" class="form-select"></select>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn text-light w-auto"
          data-bs-dismiss="modal"
          style="background-color: #091e3e"
        >
          Close
        </button>
        <button
          type="button"
          class="btn text-light w-auto"
          id="applyFilterCheckup"
          style="background-color: #06a3da"
        >
          Apply Filter
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The modal for filtering -->
<div
  class="modal fade"
  id="rekamFilterModal"
  tabindex="-1"
  aria-labelledby="rekamFilterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rekamFilterModalLabel">Filter Data</h5>
        <button
          type="button"
          class="btn w-auto py-0 my-0"
          onclick="clearFilterRekam()"
        >
          Clear
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-3 d-flex align-items-center">
          <label for="nik-rekam" class="col-sm-2">NIK</label>
          <div class="col-sm-10">
            <select id="nik-rekam" class="form-select"></select>
          </div>
        </div>
        <div class="row mb-3 d-flex align-items-center">
          <label for="name-rekam" class="col-sm-2">Nama</label>
          <div class="col-sm-10">
            <select id="name-rekam" class="form-select"></select>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn text-light w-auto"
          data-bs-dismiss="modal"
          style="background-color: #091e3e"
        >
          Close
        </button>
        <button
          type="button"
          class="btn text-light w-auto"
          id="applyFilterRekam"
          style="background-color: #06a3da"
        >
          Apply Filter
        </button>
      </div>
    </div>
  </div>
</div>

<!-- lihat Modal -->
<div
  class="modal fade"
  id="lihatModal"
  tabindex="-1"
  aria-labelledby="lihatModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {% set table_title='' %} {% set table_title_id='list-checkup' %} {% set
        table_headers=['No', 'Tgl Periksa', 'Dokter', 'Poli', 'Keluhan',
        'Anamnesa Hasil Pemeriksaan'] %} {% set table_id='list_checkup_user' %}
        {% include 'partials/datatable.html' %}
      </div>
    </div>
  </div>
</div>

{% include 'base/footer.html' %} {% endblock %}
