body {
  background: linear-gradient(rgba(0, 62, 85, 0.5), rgba(0, 62, 85, 0.5)),
    url("https://cdn.glitch.global/3e2b63b2-5598-47b2-9a7a-f51a4c493164/login.jpg?v=1704860203106") center center no-repeat;
  background-size: cover;
}

.login-container .container {
  margin-top: 200px;
  background-color: #fff;
}
