.register {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.glitch.global/3e2b63b2-5598-47b2-9a7a-f51a4c493164/01.jpg?v=1704860277153");
  background-size: cover;
}
.row {
  margin-right: 0; 
  margin-left: 0; 
}

.buat-akun {
  background-color: #fff; 
  border-radius: 50px; 
  padding: 20px; 
  margin: 50px; 
}

.form-control {
  background-color: #e9f5ff;
}

@media (max-width: 768px) {
  .buat-akun {
    margin: 0px; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
}