body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  outline: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f00;
  background-color: #ffcccc;
  color: #f00;
}

.login-container .container {
  margin-top: 200px;
  background-color: #fff;
}

.body-login{
  background: url('login.jpg');
  background-size: cover;
  background-opacity: 0.8;
}

.register{
  background: url('register.jpg');
  background-size: cover;
  background-opacity: 0.6;
}

.buat-akun {
  background-color: #fff;
}
