.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
  color: #06a3da !important;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  outline: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f00;
  background-color: #ffcccc;
  color: #f00;
}

.login-container .container {
  margin-top: 200px;
  background-color: #fff;
}

.body-login {
  background: linear-gradient(rgba(0, 62, 85, 0.5), rgba(0, 62, 85, 0.5)), url('login.jpg') center center no-repeat;
  background-size: cover;

}

.register {
  background: url('register.jpg');
  background-size: cover;
  background-opacity: 0.6;
}

.buat-akun {
  background-color: #fff;
}

.dataTables_filter {
  margin-bottom: 10px;
}

.custom-col .card {
  border: none;
  transition: box-shadow 0.3s ease;
}

.custom-col .card:hover {
  box-shadow: 0 12px 24px rgba(9, 30, 62, 0.3);
  transform: scale(1.05);
}

.btn-logout {
  background-color: #f57e57;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-logout:hover {
  background-color: #06a3da;
  color: #fff;
}

.btn-logout:active {
  background-color: #06a3da;
  color: #fff;
}

.nav-item a.btn {
  background-color: #091e3e;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item a.btn:hover {
  background-color: #06a3da;
}

.nav-item a.btn:active {
  background-color: #06a3da;
}