.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
  color: #06a3da !important;
}

body {
  font-family: Arial, sans-serif;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  outline: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f00;
  background-color: #ffcccc;
  color: #f00;
}

.dataTables_filter {
  margin-bottom: 10px;
}

.btn-logout {
  background-color: #f57e57;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-logout:hover {
  background-color: #06a3da;
  color: #fff;
}

.btn-logout:active {
  background-color: #06a3da;
  color: #fff;
}

.nav-item a.btn {
  background-color: #091e3e;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item a.btn:hover {
  background-color: #06a3da;
}

.nav-item a.btn:active {
  background-color: #06a3da;
}