{% extends 'base.html' %}

{% block title %}Dashboard - Klinik Google {% endblock %}

{% block content %}
  {% include 'navbar.html' %}

  <div class="container mt-5">
    <h2 id="jadwal" class="text-center" style="color: #091e3e">Dasbord</h2>
    <h2 id="jadwal" class="text-center" style="color: #091e3e">
      Pendaftaran
    </h2>
    <table
      class="table table-hover table-bordered"
      style="border-collapse: collapse; border-color: #091e3e"
      id="pendaftaranTable"
    >
      <thead>
        <tr>
          <th>No Urut</th>
          <th>Nama</th>
          <th>Poli</th>
          <th>Tanggal Periksa</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data will be populated here -->
      </tbody>
    </table>
    <h2 id="checkup" class="text-center mt-5" style="color: #091e3e">
      Check Up
    </h2>
    <table
      class="table table-hover table-bordered"
      style="border-collapse: collapse; border-color: #091e3e"
      id="checkupTable"
    >
      <thead>
        <tr>
          <th>No</th>
          <th>Tanggal Periksa</th>
          <th>Nama Pasien</th>
          <th>Nama Dokter</th>
          <th>Poli</th>
          <th>Keluhan</th>
          <th>Hasil Pemeriksaan</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data will be populated here -->
      </tbody>
    </table>
    <h2 id="rekam_medis" class="text-center mt-5" style="color: #091e3e">
      Rekam Medis
    </h2>
    <table
      class="table table-hover table-bordered"
      style="border-collapse: collapse; border-color: #091e3e"
      id="rekamMedisTable"
    >
      <thead>
        <tr>
          <th>No</th>
          <th>NIK</th>
          <th>Nama Pasien</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data will be populated here -->
      </tbody>
    </table>
  </div>

  <!-- lihat Modal -->
  <div
    class="modal fade"
    id="lihatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="lihatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="lihatModalLabel">Hasil Periksa</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <table class="table" id="list_checkup_user">
            <thead>
              <tr>
                <th>No</th>
                <th>Tgl Periksa</th>
                <th>Dokter</th>
                <th>Poli</th>
                <th>Keluhan</th>
                <th>Anamnesa Hasil Pemeriksaan</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

{% endblock %}