{% extends 'base.html' %}

{% block title %}Dashboard - Klinik Google {% endblock %}

{% block content %}
  {% include 'navbar.html' %}

  <div class="container-fluid mt-5 pt-5">
    <h2 id="jadwal" class="text-center" style="color: #091e3e">Dashboard</h2>
    <div class="container mt-5 mb-5">
      {% set table_title='Pendaftaran' %}
      {% set table_headers=['No Urut', 'Nama', 'Poli', 'Tanggal Periksa', 'Status'] %}
      {% set table_id='pendaftaranTable' %}
      {% include 'datatable.html' %}
    </div>

    <div class="container mt-5 mb-5">
      {% set table_title='Check Up' %}
      {% set table_headers=['No', 'Tanggal Periksa', 'Nama Pasien', 'Nama Dokter', 'Poli', 'Keluhan', 'Hasil Pemeriksaan'] %}
      {% set table_id='checkupTable' %}
      {% include 'datatable.html' %}
    </div>

    <div class="container mt-5 mb-5">
      {% set table_title='Rekam Medis' %}
      {% set table_headers=['No', 'NIK', 'Nama Pasien', 'Action'] %}
      {% set table_id='rekamMedisTable' %}
      {% include 'datatable.html' %}
    </div>
  </div>

  <!-- lihat Modal -->
  <div
    class="modal fade"
    id="lihatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="lihatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="lihatModalLabel">Hasil Periksa</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {% set table_title='' %}
          {% set table_headers=['No', 'Tgl Periksa', 'Dokter', 'Poli', 'Keluhan', 'Anamnesa Hasil Pemeriksaan'] %}
          {% set table_id='list_checkup_user' %}
          {% include 'datatable.html' %}
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

{% endblock %}