<div
  class="footer text-left mt-auto py-5"
  style="background-color: #091e3e; color: #fff"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h3 style="font-weight: bold; color: #06a3da">Contact Us</h3>
        <p class="mb-2">
          <i class="bi bi-geo-alt text-primary me-2"></i>Jalan Supratman No.
          123, Bandung, Jawa Barat
        </p>
        <p class="mb-2">
          <i class="bi bi-envelope-open text-primary me-2"></i
          >KlinikGoogle@email.com
        </p>
        <p class="mb-0">
          <i class="bi bi-telephone text-primary me-2"></i>+628 2345 67890
        </p>
      </div>
      <div class="col-md-6 mx-auto">
        <h3 style="font-weight: bold; color: #06a3da">Follow Us</h3>
        <div class="d-flex">
          <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"
            ><i class="fab fa-twitter fw-normal"></i
          ></a>
          <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"
            ><i class="fab fa-facebook-f fw-normal"></i
          ></a>
          <a class="btn btn-lg btn-primary btn-lg-square rounded me-2" href="#"
            ><i class="fab fa-linkedin-in fw-normal"></i
          ></a>
          <a class="btn btn-lg btn-primary btn-lg-square rounded" href="#"
            ><i class="fab fa-instagram fw-normal"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-light py-4" style="background: #051225">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 mx-auto text-center">
        <p class="mb-md-0">
          &copy;
          <a class="text-white border-bottom" href="#">Klinik Google</a>. All
          Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</div>
