{% extends 'base.html' %}

{% block title %}Home - Klinik Google {% endblock %}

{% block content %}
  {% include 'navbar.html' %}

  <div class="container-fluid px-5">
    <div id="carouselExampleIndicators" class="carousel slide mt-5 pt-5">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../static/01.jpg"
            class="d-block w-100"
            alt="..."
            style="height: 500px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="../static/02.jpg"
            class="d-block w-100"
            alt="..."
            style="height: 500px"
          />
        </div>
        <div class="carousel-item">
          <img
            src="../static/03.jpg"
            class="d-block w-100"
            alt="..."
            style="height: 500px"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container mt-5">
    <div class="content">
      <h2 id="tatacara" class="text-center" style="color: #091e3e">
        Tata Cara Pendaftaran Online
      </h2>
      <p class="text-center">
        Langkah-langkah tata cara pendaftaran online di Klinik Google
      </p>
      <div class="container custom-container mb-5">
        <div class="row">
          <div class="col-md-4 custom-col">
            <div
              class="card text-center h-100 d-flex justify-content-center align-items-center text-light fw-bold"
              style="
                background-color: #06a3da; /* box-shadow: 0 1px 1px black; */
              "
            >
              <div
                class="row d-flex justify-content-center align-items-center"
              >
                <div class="col-2">
                  <h1 class="text-end">1</h1>
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">Login</h5>
                    <p class="card-text">
                      Silakan login atau registrasi terlebih dahulu
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 custom-col">
            <div
              class="card text-center h-100 d-flex justify-content-center align-items-center text-light fw-bold"
              style="
                background-color: #06a3da; /* box-shadow: 0 1px 1px black; */
              "
            >
              <div
                class="row d-flex justify-content-center align-items-center"
              >
                <div class="col-2">
                  <h1 class="text-end">2</h1>
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">Pilih Layanan</h5>
                    <p class="card-text">
                      Telusuri daftar layanan yang tersedia yang sesuai dengan
                      kebutuhan kesehatan Anda
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 custom-col">
            <div
              class="card text-center h-100 d-flex justify-content-center align-items-center text-light fw-bold"
              style="
                background-color: #06a3da; /* box-shadow: 0 1px 1px black; */
              "
            >
              <div
                class="row d-flex justify-content-center align-items-center"
              >
                <div class="col-2">
                  <h1 class="text-end">3</h1>
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">
                      Isi Formulir Pendaftaran
                    </h5>
                    <p class="card-text">
                      Lengkapi formulir pendaftaran online dengan informasi
                      pribadi Anda, termasuk nama, alamat, nomor telepon, dan
                      rincian medis yang relevan
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-4 custom-col">
            <div
              class="card text-center h-100 d-flex justify-content-center align-items-center text-light fw-bold"
              style="
                background-color: #06a3da; /* box-shadow: 0 1px 1px black; */
              "
            >
              <div
                class="row d-flex justify-content-center align-items-center"
              >
                <div class="col-2">
                  <h1 class="text-end">4</h1>
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">Pilih Jadwal Praktek</h5>
                    <p class="card-text">
                      Pilih jadwal praktek yang sesuai dengan ketersediaan
                      Anda. Anda dapat melihat jadwal dokter dan poli untuk
                      memudahkan pemilihan
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 custom-col">
            <div
              class="card text-center h-100 d-flex justify-content-center align-items-center text-light fw-bold"
              style="
                background-color: #06a3da; /* box-shadow: 0 1px 1px black; */
              "
            >
              <div
                class="row d-flex justify-content-center align-items-center"
              >
                <div class="col-2">
                  <h1 class="text-end">5</h1>
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">
                      Datang ke Klinik Sesuai Jadwal
                    </h5>
                    <p class="card-text">
                      Pada hari janji temu, datang ke klinik tepat waktu dan
                      tunjukkan konfirmasi pendaftaran kepada petugas penerima
                      pasien
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 custom-col">
            <div
              class="card text-center h-100 d-flex justify-content-center align-items-center text-light fw-bold"
              style="
                background-color: #06a3da; /* box-shadow: 0 1px 1px black; */
              "
            >
              <div
                class="row d-flex justify-content-center align-items-center"
              >
                <div class="col-2">
                  <h1 class="text-end">6</h1>
                </div>
                <div class="col-9">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">Bertemu Dokter</h5>
                    <p class="card-text">
                      Bertemu dengan dokter sesuai jadwal untuk konsultasi
                      atau perawatan yang Anda butuhkan
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-5 mb-5">
        {% set table_title='Jadwal Praktik' %}
        {% set table_headers=['Nama', 'Poli', 'Hari', 'Jam Praktek'] %}
        {% set table_id='jadwalTable' %}
        {% include 'datatable.html' %}
      </div>


      <div class="container mt-5 mb-5">
        {% set table_title='Antrian Hari Ini' %}
        {% set table_headers=['Poli', 'Jumlah Pendaftar', 'Dalam Antrian'] %}
        {% set table_id='antrianTable' %}
        {% include 'datatable.html' %}
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

{% endblock %}
