<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- DataTables CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    />
    <!-- DataTables JS -->
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
    ></script>
    <script>
      $(document).ready(function () {
        // Inisialisasi DataTables
        let jadwalTable = $("#jadwalTable").DataTable();
        let antrianTable = $("#antrianTable").DataTable();

        // Ambil data jadwal praktek
        $.ajax({
          url: "/api/get_jadwal",
          type: "GET",
          success: function (data) {
            // Isi tabel jadwal praktek
            jadwalTable.clear().draw();
            data.jadwal.forEach(function (row) {
              jadwalTable.row
                .add([
                  row.nama,
                  row.poli,
                  row.hari,
                  row.jam_buka + " - " + row.jam_tutup,
                ])
                .draw();
            });
          },
        });

        // Ambil data antrian hari ini
        $.ajax({
          url: "/api/get_antrian",
          type: "GET",
          success: function (data) {
            // Isi tabel antrian hari ini
            antrianTable.clear().draw();
            data.antrian.forEach(function (row) {
              antrianTable.row
                .add([row.poli, row.jumlah_pendaftar, row.dalam_antrian])
                .draw(false);
            });
          },
        });

        $(".navbar-toggler").on("click", function () {
          $(".navbar-collapse").toggleClass("show");
        });
      });

      function sign_out() {
        $.removeCookie("mytoken", { path: "/" });
        alert("Logged out!");
        window.location.href = "/";
      }
    </script>
  </head>

  <body>
    {% if user_info %} {% if user_info.role == 'pasien' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand">Klinik Google</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pendaftaran">Pendaftaran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/riwayat_pendftaran">Riwayat Pendaftaran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Riwayat Check Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">{{ user_info.username }}</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger" onclick="sign_out()">Logout</button>
          </li>
        </ul>
      </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand">Klinik Google</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kelola_pendaftaran">Pendaftaran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rekam Medis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kelola_praktik">Kelola Praktik</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">{{ user_info.username }}</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger" onclick="sign_out()">Logout</button>
          </li>
        </ul>
      </div>
    </nav>
    {% endif %} {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand">Klinik Google</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#layanan">Layanan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tatacara">Tata Cara</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#jadwal">Jadwal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#antrian">Antrian</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="/login">Masuk</a>
          </li>
        </ul>
      </div>
    </nav>
    {% endif %}

    <div class="container mt-5">
      <div class="content">
        <h2 id="layanan">Layanan</h2>
        <p>
          Selamat datang di Klinik Google, tempat pelayanan kesehatan modern
          yang menawarkan perawatan terpercaya dan inovatif. Kami menyediakan
          layanan medis komprehensif, mulai dari konsultasi umum hingga
          perawatan spesialis, didukung oleh tim dokter berpengalaman. Klinik
          ini memprioritaskan kenyamanan pasien dengan proses pendaftaran yang
          mudah dan antrian yang terorganisir. Kami berkomitmen untuk memberikan
          pengalaman perawatan yang ramah, efisien, dan terjangkau, sehingga
          Anda dapat mencapai kesehatan optimal dengan percaya diri.
        </p>

        <h2 id="tatacara" class="text-center">Tata Cara Pendaftaran Online</h2>
        <p class="text-center">
          Langkah-langkah tata cara pendaftaran online di Klinik Google
        </p>
        <div class="container custom-container">
          <div class="row">
            <div class="col-md-4 custom-col">
              <div class="card text-center h-100">
                <div class="card-body">
                  <h5 class="card-title">Login</h5>
                  <p class="card-text">
                    Silakan login atau registrasi terlebih dahulu
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 custom-col">
              <div class="card text-center h-100">
                <div class="card-body">
                  <h5 class="card-title">Pilih Layanan</h5>
                  <p class="card-text">
                    Telusuri daftar layanan yang tersedia yang sesuai dengan
                    kebutuhan kesehatan Anda
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 custom-col">
              <div class="card text-center h-100">
                <div class="card-body">
                  <h5 class="card-title">Isi Formulir Pendaftaran</h5>
                  <p class="card-text">
                    Lengkapi formulir pendaftaran online dengan informasi
                    pribadi Anda, termasuk nama, alamat, nomor telepon, dan
                    rincian medis yang relevan
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 custom-col">
              <div class="card text-center h-100">
                <div class="card-body">
                  <h5 class="card-title">Pilih Jadwal Praktek</h5>
                  <p class="card-text">
                    Pilih jadwal praktek yang sesuai dengan ketersediaan Anda.
                    Anda dapat melihat jadwal dokter dan poli untuk memudahkan
                    pemilihan
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 custom-col">
              <div class="card text-center h-100">
                <div class="card-body">
                  <h5 class="card-title">Datang ke Klinik Sesuai Jadwal</h5>
                  <p class="card-text">
                    Pada hari janji temu, datang ke klinik tepat waktu dan
                    tunjukkan konfirmasi pendaftaran kepada petugas penerima
                    pasien
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 custom-col">
              <div class="card text-center h-100">
                <div class="card-body">
                  <h5 class="card-title">Bertemu Dokter</h5>
                  <p class="card-text">
                    Bertemu dengan dokter sesuai jadwal untuk konsultasi atau
                    perawatan yang Anda butuhkan
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2 id="jadwal" class="text-center">Jadwal Praktik</h2>
        <table class="table" id="jadwalTable">
          <thead>
            <tr>
              <th>Nama</th>
              <th>Poli</th>
              <th>Hari</th>
              <th>Jam Praktek</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>

        <h2 id="antrian" class="text-center">Antrian Hari Ini</h2>
        <table class="table" id="antrianTable">
          <thead>
            <tr>
              <th>Poli</th>
              <th>Jumlah Pendaftar</th>
              <th>Dalam Antrian</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer text-center mt-5 py-3">
      <p>&copy; 2023 Klinik Google. All rights reserved.</p>
    </div>
  </body>
</html>
