{% extends 'base.html' %}

{% block title %}Pendaftaran - Klinik Google {% endblock %}

{% block content %}
  {% include 'navbar.html' %}

  <!-- Formulir Pendaftaran -->
  <div id="formulir-container">
    <div
      class="container mt-5 pt-5 d-flex justify-content-center flex-column align-items-center"
    >
      <div class="">
        <div class="card" style="width: 500px">
          <h3 class="card-title text-center mt-3">Formulir Pendaftaran</h3>
          <div class="card-body">
            <form action="/pendaftaran" method="POST">
              <div class="form-group">
                <label for="poli" class="mr-2"> Poli </label>
                <select class="form-control" id="poli" name="poli">
                  <option value="" selected disabled>Pilih Poli</option>
                  <option value="poli_umum">Poli Umum</option>
                  <option value="poli_gigi">Poli Gigi</option>
                  <option value="poli_mata">Poli Mata</option>
                  <option value="poli_anak">Poli Anak</option>
                  <option value="poli_gizi">Poli Gizi</option>
                  <option value="poli_jantung">Poli Jantung</option>
                </select>
              </div>

              <div class="form-group">
                <label for="tanggal" class="mr-2"> Tanggal Berobat </label>
                <input
                  type="date"
                  class="form-control"
                  id="tanggal"
                  name="tanggal"
                />
              </div>

              <div class="form-group">
                <label for="keluhan" class="mr-2"> Keluhan </label>
                <textarea
                  class="form-control"
                  id="keluhan"
                  name="keluhan"
                  rows="3"
                ></textarea>
              </div>

              <div class="d-flex justify-content-center mt-2">
                <button type="submit" class="btn btn-primary btn-submit-form">
                  Kirim
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Antrian Pendaftaran -->
  <div
    class="container mt-5 pt-5 mb-5"
    id="antrian-container"
    {%
    if
    not
    has_pending_or_approved
    %}style="display: none;"
    {%
    endif
    %}
  >
    {% set table_title='Antrian Pendaftaran' %}
    {% set table_headers=['No Urut', 'Nama', 'NIK', 'Tanggal', 'Status'] %}
    {% set table_id='myTable' %}
    {% include 'datatable.html' %}
  </div>

  <!-- Formulir Pendaftaran jika reject/done -->
  {% if formStatus in ['rejected', 'done'] %}
  <div
    class="container mt-5 form-container"
    id="formulir-container-done-rejected"
  >
    <div class="container mt-5 d-flex justify-content-center">
      <div class="card" style="width: 500px">
        <h3 class="card-title text-center mt-3">Formulir Pendaftaran</h3>
        <div class="card-body">
          <form action="/pendaftaran_formulir" method="POST">
            <div class="form-group">
              <label for="poli" class="mr-2"> Poli </label>
              <select class="form-control" id="poli" name="poli">
                <option value="" selected disabled>Pilih Poli</option>
                <option value="poli_umum">Poli Umum</option>
                <option value="poli_gigi">Poli Gigi</option>
                <option value="poli_mata">Poli Mata</option>
                <option value="poli_anak">Poli Anak</option>
                <option value="poli_gizi">Poli Gizi</option>
                <option value="poli_jantung">Poli Jantung</option>
              </select>
            </div>

            <div class="form-group">
              <label for="tanggal" class="mr-2"> Tanggal Berobat </label>
              <input
                type="date"
                class="form-control"
                id="tanggal"
                name="tanggal"
              />
            </div>

            <div class="form-group">
              <label for="keluhan" class="mr-2"> Keluhan </label>
              <textarea
                class="form-control"
                id="keluhan"
                name="keluhan"
                rows="3"
              ></textarea>
            </div>

            <div class="d-flex justify-content-center mt-2">
              <button type="submit" class="btn btn-primary btn-submit-form">
                Kirim
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% include 'footer.html' %}

{% endblock %}