<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendaftaran</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();

            $(".btn-action").click(function () {
                var registrationId = $(this).data("registration-id");
                var status = $(this).data("status");
                var btnDone = $(this).closest("tr").find(".btn-action-done");

                $.ajax({
                    type: "POST",
                    url: "/update_status",
                    data: {
                        registration_id: registrationId,
                        new_status: status,
                    },
                    success: function (response) {
                        location.reload();

                        if (response.show_done_button) {
                            btnDone.show();
                        }
                    },
                    error: function () {
                        console.error("Gagal memperbarui status formulir");
                    },
                });
            });

            $(".btn-action-approve").click(function () {
                var row = $(this).closest("tr");
                var btnDone = row.find(".btn-action-done");

                // Logika untuk tombol Approve di sini

                // Menampilkan tombol Done
                btnDone.show();
            });

            $(".btn-action-reject").click(function () {
                var registrationId = $(this).data("registration-id");
                var row = $(this).closest("tr");

                // Menghapus dari tampilan tabel
                row.remove();

                // Menghapus dari MongoDB
                $.ajax({
                    type: "POST",
                    url: "/delete_registration",
                    data: {
                        registration_id: registrationId,
                    },
                    success: function (response) {
                        console.log("Formulir berhasil dihapus dari MongoDB");
                    },
                    error: function () {
                        console.error("Gagal menghapus formulir dari MongoDB");
                    },
                });
            });

            $(".btn-action-done").click(function () {
                var registrationId = $(this).data("registration-id");
                var row = $(this).closest("tr");

                // Menghapus dari tampilan tabel
                row.remove();

                // Logika untuk tombol Done di sini
                // (Anda dapat menambahkan lebih banyak logika jika diperlukan)

                // Catatan: Data tetap ada di MongoDB
            });
        });
    </script>

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Klinik Google</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Pendaftaran</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rekam Medis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kelola Praktek</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link disabled">Nama Anda</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Pendaftaran</h3>
            </div>
            <div class="card-body">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">No Urut</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Poli</th>
                            <th scope="col">Tanggal Periksa</th>
                            <th scope="col">Keluhan</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{ row.no_urut }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.poli }}</td>
                            <td>{{ row.tanggal }}</td>
                            <td>{{ row.keluhan }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    {% if data.status == 'pending' %}
                                    <button class="btn btn-primary btn-action" data-action="approve"
                                        data-registration-id="{{ data._id }}" data-status="approved">Approve</button>
                                    <button class="btn btn-danger btn-action" data-action="reject"
                                        data-registration-id="{{ data._id }}" data-status="rejected">Reject</button>
                                    {% elif data.status == 'approved' %}
                                    <span class="badge badge-success">Approved</span>
                                    <!-- Tampilkan tombol Done di sini -->
                                    <button class="btn btn-success btn-action btn-action-done" data-action="done"
                                        data-registration-id="{{ data._id }}" data-status="done"
                                        style="display: none;">Done</button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>

</html>